.container {
  max-width: 400px;
  margin: 5vh auto 0 auto;
  box-shadow: 0 0 43px 17px rgba(193, 193, 193, 1);
}

#display {
  text-align: right;
  height: 70px;
  line-height: 70px;
  padding: 16px 8px;
  font-size: 25px;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border-bottom: 1px solid #999;
  border-left: 1px solid #999;

}

.buttons > div {
  border-top: 1px solid #999;
  border-right: 1px solid #999;
}

.button {
  border: 0.5px solid #999;
  line-height: 100px;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
}

#equal {
  background-color: rgb(40, 40, 238);
  color: #fff;
}

.button:hover {
  background-color: rgb(22, 22, 22);
  color: #fff;
  transition: 0.5s ease-in-out;
}